<div class="container container--small">
    <!-- Duración de la charla -->
    <p class="text text--small text--disabled">Duración estimada: {{ charla?.tiempo }} min.</p>


    <!-- Título y botón votar -->
    <div class="layout-horizontal space-between">
        <h1 class="title title--h1">{{ charla?.titulo }}</h1>
        <button class="btn-votar">Votar</button>
    </div>

    <!-- Descripción de la charla -->
    <div>
        <p class="text text--disabled">{{ charla?.descripcion }}</p>
    </div>

    <!-- Imagen de la charla -->
    <div class="charla-imagen">
        <img [src]="charla?.imagenCharla || 'assets/images/default-image.png'" alt="{{ charla?.titulo }}" />
    </div>


    <!-- Sección de comentarios -->
    <div class="comentarios">
        <!-- Número de comentarios -->
        <div class="comentarios-header">
            <h2 class="title title--h2">1 comentario(s)</h2>
        </div>

        <!-- Campo para añadir comentario -->
        <div class="comentarios-entrada layout-vertical">
            <div class="layout-horizontal">
                <img src="assets/images/test.jpg" alt="Usuario" class="img-round img-round--small" />
                <input type="text" placeholder="Añade un comentario..." class="comentario-input" />
            </div>
            <button class="btn-comentar">Comentar</button>
        </div>

        <!-- Comentarios existentes -->
        <div class="comentarios-lista">
            <!-- Comentario 1 -->
            <div class="comentario layout-horizontal">
                <img src="assets/images/francisco.jpg" alt="Francisco Perez" class="img-round img-round--small" />
                <div class="comentario-contenido layout-vertical">
                    <p>
                        <strong>Francisco Perez</strong>
                        <span class="text text--disabled">hace 1 semana</span>
                    </p>
                    <p>Muy buena charla! ✅ Sobretodo por tu forma de comunicar. Buen trabajo!</p>
                </div>
            </div>

            <!-- Comentario 2 -->
            <div class="comentario layout-horizontal">
                <img src="assets/images/maria.jpg" alt="Maria Lopez" class="img-round img-round--small" />
                <div class="comentario-contenido layout-vertical">
                    <p>
                        <strong>Maria Lopez</strong>
                        <span class="text text--disabled">hace 1 semana</span>
                    </p>
                    <p>Gracias, lo aplicaré en mi proyecto! 🤩</p>
                </div>
            </div>
        </div>
    </div>

</div>