<div class="container container--small">
    <!-- Duración de la charla -->
    <p class="text text--small text--disabled">Duración estimada: {{ charla?.tiempo }} min.</p>


    <!-- Título y botón votar -->
    <div class="layout-horizontal space-between">
        <h1 class="title title--h1">{{ charla?.titulo }}</h1>
        <p class="charla-autor">
        </p>
        <p>Votos: {{numVotos}}</p>
        <button class="btn-votar" (click)="votarCharla()">Votar</button>
    </div>

    <!-- Descripción de la charla -->
    <div>
        <p class="text text--disabled">{{ charla?.descripcion }}</p>
    </div>

    <!-- Imagen de la charla -->
    <div class="charla-imagen">
        <img [src]="charla?.imagenCharla || 'assets/images/default-image.png'" alt="{{ charla?.titulo }}" />
    </div>


    <!-- Sección de comentarios -->
    <div class="comentarios">
        <!-- Número de comentarios -->
        <div class="comentarios-header">
            <h2 class="title title--h2">{{ comentarios.length }} comentario(s)</h2>
        </div>

        <div class="comentarios-entrada layout-vertical">
            <div class="layout-horizontal">
                <img [src]="fotoPerfilUsuario" alt="Usuario" class="img-round img-round--small" />
                <input 
                    type="text" 
                    placeholder="Añade un comentario..." 
                    class="comentario-input" 
                    [(ngModel)]="nuevoComentario" 
                />
                <button class="btn-comentar" (click)="enviarComentario()">Comentar</button>
            </div>
        </div>
        

        <!-- Comentarios existentes -->
        <div class="comentarios-lista">
            <div *ngFor="let comentario of comentarios" class="comentario layout-horizontal">
                <div class="comentario-contenido layout-vertical">
                    <p>
                        <strong>{{ comentario.usuario }}</strong>
                        <span class="text text--disabled">{{ comentario.fecha |  date: 'dd MMM yyyy' }}</span>
                    </p>
                    <p>{{ comentario.contenido }}</p>
                </div>
            </div>
        </div>

        
    </div>

</div>