<div class="container d-flex align-items-center justify-content-center min-vh-100">
  <div class="row no-gutters bg-dark rounded-lg overflow-hidden w-100" style="max-width: 900px;">
    <div class="col-md-6 d-none d-md-block">
      <img class="img-fluid h-100" src="https://placehold.co/600x800" />
    </div>
    <div class="col-md-6 p-4 d-flex flex-column justify-content-center">
      <h1 class="font-weight-bold mb-3">
        Alta de usuario
      </h1>

      <!-- Tabs de Bootstrap -->
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <button class="nav-link" [class.active]="esAlumno" (click)="esAlumno = true">Estudiante</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [class.active]="!esAlumno" (click)="esAlumno = false">Profesor</button>
        </li>
      </ul>

      <!-- Formulario estudiante -->
      <form *ngIf="esAlumno" #studentForm="ngForm" (ngSubmit)="onStudentSubmit(studentForm)" class="d-flex flex-column justify-content-center">
        <div class="form-group">
          <input placeholder="Nombre" class="form-control" id="nombre" name="nombre" ngModel type="text" />
        </div>
        <div class="form-group mt-3">
          <input placeholder="Apellidos" class="form-control" id="apellido" name="apellido" ngModel type="text" />
        </div>
        <div class="form-group mt-4 mb-3 text-center">
          <label>Datos de registro</label>
        </div>
        <div class="form-group">
          <input placeholder="Correo electrónico (+ añadir 'de tajamar' ?)" class="form-control" id="email" name="email" ngModel type="email" />
        </div>
        <div class="form-group position-relative mt-3">
          <input placeholder="Contraseña" class="form-control" id="password" name="password" ngModel type="password" />
          <i class="fas fa-eye eye-icon"></i>
        </div>
        <div class="form-group position-relative mt-3">
          <input placeholder="Confirmar Contraseña"  class="form-control" id="confirm-password" name="confirmPassword" ngModel type="password" />
          <i class="fas fa-eye eye-icon"></i>
        </div>
        <div class="form-group mt-3">
          <input placeholder="Código de su curso"  class="form-control" id="access-code" name="accessCode" ngModel type="text" />
        </div>
        <button class="btn custom-btn text-white mt-4 w-50" type="submit">Completar registro</button>
      </form>

      <!--  Formulario profe -->
      <form *ngIf="!esAlumno" #teacherForm="ngForm" (ngSubmit)="onTeacherSubmit(teacherForm)" class="d-flex flex-column justify-content-center">
        <div class="form-group">
          <input placeholder="Nombre" class="form-control" id="nombre" name="nombre" ngModel type="text" />
        </div>
        <div class="form-group mt-3">
          <input placeholder="Apellidos" class="form-control" id="apellido" name="apellido" ngModel type="text" />
        </div>
        <div class="form-group mt-4 mb-3 text-center">
          <label>Datos de registro</label>
        </div>
        <div class="form-group">
          <input placeholder="Correo electrónico (+ añadir 'de tajamar' ?)" class="form-control" id="email" name="email" ngModel type="email" />
        </div>
        <div class="form-group position-relative mt-3">
          <input placeholder="Contraseña" class="form-control" id="password" name="password" ngModel type="password" />
          <i class="fas fa-eye eye-icon"></i>
        </div>
        <div class="form-group position-relative mt-3">
          <input placeholder="Confirmar Contraseña"  class="form-control" id="confirm-password" name="confirmPassword" ngModel type="password" />
          <i class="fas fa-eye eye-icon"></i>
        </div>
        <div class="form-group mt-3">
          <input placeholder="Código de acceso"  class="form-control" id="access-code" name="accessCode" ngModel type="text" />
        </div>
        <button class="btn custom-btn text-white mt-4 w-50" type="submit">Completar registro</button>
      </form>

      <div class="text-center mt-3">
        <p class="small">
          ¿Ya tienes cuenta?
          <br>
          <a class="text-primary" [routerLink]="['/login']" href="#">
            Iniciar sesión
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
