<section class="section">

    <div class="container container--medium" style="padding-top: 50px;">
        <h1 class="title title--h1">Hola, Gabriel...</h1> <!-- aqui debemos cambiar el nombre del alumno -->
        <p class="text text--detail">Alumno/MCSD 3113</p>
        <!-- aqui debemos cambiar  1. si es alumno o profesor y 2. el codigo de la clase -->
    </div>


    <!-- _____________ que cosas mostrar dependiendo de la lógica de la app ___________-->
    <!-- 1. Cuando no hay ninguna ronda activa -->
    <div class="container container--medium" style="padding-top: 100px; padding-bottom: 150px;">
        <h1 class="title title--h1 ">Aún no hay ninguna<br> ronda activa. <br>
            <span class="text--disabled">Espera a que tu profesor <br> la habilite.</span>
            <div class="linea" style="margin-top: 80px;"></div>
        </h1>
    </div>


    <div class="container container--medium">
        <h2 class="title title--h2">Charlas anteriores</h2>
        <p style="background-color: yellow; color: red;">aqui el menu este de todas, filtrar por modulo y por rondas xd</p>
    </div>
    <div class="dashboard-container container container--small">
        <app-tarjeta-charla *ngFor="let charla of charlas" [charla]="charla"></app-tarjeta-charla>
    </div>




</section>
