


    <div class="container container--medium" style="padding-top: 50px;">
        <h1 class="title title--h1">Hola, {{datosUsuario.nombreUsuario}}...</h1>
        <!-- aqui debemos cambiar el nombre del alumno -->
        <p class="text text--detail">{{datosUsuario.rolUsuario}}/{{datosUsuario.cursoUsuario}}</p>
        <!-- aqui debemos cambiar  1. si es alumno o profesor y 2. el codigo de la clase -->
    </div>

    <!-- 🔥 Mostrar mensaje según el rol -->
    <!-- ___________________________________ PARA ADMIN ___________________________________-->
    <div class="container container--medium" *ngIf="roleUsuario === 3">
        <app-control-panel></app-control-panel>
    </div>


    <!-- ___________________________________ PARA PROFESOR ____________________________________ -->
    <div class="container container--medium" *ngIf="roleUsuario === 1">

        <h1 *ngIf="charlasPorRonda.length==0" class="title title--h1 ">Aún no hay ninguna<br> ronda activa. <br>
            <span class="text--disabled">Espera a que tu profesor <br> la habilite.</span>
        </h1>

        <div *ngIf="charlasPorRonda.length>=1" class="dashboard-container container container--small">
            <app-tarjeta-charla *ngFor="let charla of charlasPorRonda" [charla]="charla"></app-tarjeta-charla>
        </div>


    </div>



    <!-- ___________________________________ PARA ALUMNO ____________________________________ -->
    <div *ngIf="roleUsuario === 2">

        <!-- 1. Cuando no hay ninguna ronda activa -->
        <div class="container container--medium" style="padding-top: 100px; padding-bottom: 150px;">
            <h1 *ngIf="charlasPorRonda.length==0" class="title title--h1 ">Aún no hay ninguna<br> ronda activa. <br>
                <span class="text--disabled">Espera a que tu profesor <br> la habilite.</span>
            </h1>
            <div *ngIf="charlasPorRonda.length>=1" class="dashboard-container container container--small">
                <app-tarjeta-charla *ngFor="let charla of charlasPorRonda" [charla]="charla"></app-tarjeta-charla>
            </div>
            <div class="linea" style="margin-top: 80px;"></div>

        </div>
    </div>

