<section class="section">

    <div class="container">
        <h1 class="title title--h1">Hola, Gabriel...</h1> <!-- aqui debemos cambiar el nombre del alumno -->
        <p class="text text--detail" >Alumno/MCSD 3113</p> <!-- aqui debemos cambiar  1. si es alumno o profesor y 2. el codigo de la clase -->
    </div>


    <!-- _____________ que cosas mostrar dependiendo de la lógica de la app ___________-->
     <!-- 1. Cuando no hay ninguna ronda activa -->
    <div class="container container--small">
        <h1 class="title title--h1 ">Aún no hay ninguna ronda activa. <br>
            <span class="text--disabled">Espera a que tu profesor la habilite.</span></h1>
    </div>




    

</section>