<div class="section" style="padding-top: 40px;">
  <nav class="navbar">

    <!-- Logo de la aplicación -->
    <div class="navbar__logo">

      <a [routerLink]="['/dashboard']">
        <img src="assets/images/logotajamar.png" alt="Logo de Tajamar">
      </a>
    </div>

    <!-- Barra de navegación -->
    <ul class="navbar__links">
      <li><a [routerLink]="['/dashboard']" class="navbar__link" routerLinkActive="navbar__link--active"
        [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
      <li><a [routerLink]="['/perfil']" class="navbar__link" routerLinkActive="navbar__link--active">Mi perfil</a></li>
    </ul>


    <!-- Foto de perfil -->
    <div class="navbar__profile">
      <div class="profile-container" [class.open]="showPopup">
        <img src="assets/images/test.jpg" alt="Foto de usuario" (click)="togglePopup()">
        <div class="profile-popup">
          <ul>
            <!-- Opción de Ajustes -->
            <li>
              <a>
                <img src="assets/icons/settings.svg" alt="Icono de ajustes" class="popup-icon">
                Notificaciones
              </a>
            </li>

            <!-- Separador -->
            <div class="divider"></div>

            <!-- Opción de Cerrar sesión -->
            <li>
              <a (click)="logout()">
                <img src="assets/icons/logout.svg" alt="Icono de cerrar sesión" class="popup-icon">
                Cerrar sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </nav>
</div>
