<div class="container mt-4">
  <div class="row align-items-center">
    <!-- Imagen del perfil -->
    <div class="col-md-4 text-center">
      <img
        [src]="usuario?.imagen"
        alt="perfil"
        class="img-fluid rounded-circle border shadow"
        style="width: 150px; height: 150px; object-fit: cover;">
    </div>

    <!-- Detalles del usuario -->
    <div class="col-md-8">
      <h3 class="text-primary">Perfil de Usuario</h3>
      <ul class="list-group shadow">
        <li class="list-group-item">
          <strong>Nombre:</strong> {{usuario?.nombre}}
        </li>
        <li class="list-group-item">
          <strong>Apellidos:</strong> {{usuario?.apellidos}}
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> {{usuario?.email}}
        </li>
        <li class="list-group-item">
          <strong>Estado:</strong> {{usuario?.estadoUsuario}}
        </li>
        <li class="list-group-item">
          <strong>Role:</strong> {{usuario?.idRole}}
        </li>
        <li class="list-group-item">
          <strong>Id:</strong> {{usuario?.idUsuario}}
        </li>
      </ul>
    </div>
  </div>

  <!-- Botón de cerrar sesión -->
  <div class="row mt-4">
    <div class="col text-center">
      <button
        class="btn btn-info shadow-sm px-4 py-2"
        (click)="editarPerfil()">
        Editar perfil
      </button>
      <button
        class="btn btn-danger shadow-sm px-4 py-2"
        (click)="cerrarSesion()">
        Salir
      </button>
      <div>
        <form #updateUserForm="ngForm">
          <input type="text" class="form-control" id="nombre" #cajanombre [defaultValue]="usuario?.nombre">
          <input type="text" class="form-control" id="apellidos" #cajaapellidos [defaultValue]="usuario?.apellidos">
          <input type="text" class="form-control" id="email" #cajaemail [defaultValue]="usuario?.email">
        </form>
      </div>
    </div>
  </div>
</div>
