<div class="container mt-5">
  <!-- Fila de Información del Perfil -->
  <div class="row mb-4">
    <div class="col-md-4">
      <div class= "ml-2 mb-4">
        <img
          [src]="usuario?.imagen"
          alt="perfil"
          class="img-fluid rounded-circle border shadow"
          style="width: 150px; height: 150px; object-fit: cover;">
      </div>

          <h5>{{usuario?.nombre}}</h5>
          <p>{{usuario?.email}}</p>
          <div class="d-grid gap-2">
            <a class="link-info" (click)="cerrarSesion()">Cambiar contraseña</a>
            <button class="btn btn-danger">Cerrar sesión</button>
          </div>
        </div>

  </div>

  <!-- Fila de Charlas -->
  <div class="row">
    <div class="col">
      <h2>Tus charlas</h2>
      <hr>
      <div class="list-group">
        <!-- Charla 1 -->
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ramas de Github</h5>
            <small>30 min.</small>
          </div>
          <p class="mb-1">Aceptada</p>
        </div>

        <!-- Charla 2 -->
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Integrar IA en un proyecto de Angular</h5>
            <small>45 min.</small>
          </div>
          <p class="mb-1">Propuesta</p>
        </div>
      </div>
    </div>
  </div>
</div>
