@import './variables.scss';
@import './typography.scss';

body{
    background-color: $background-color;
    color: $text-regular-color;
    font-family: $font-family-regular;
    font-weight: 300; // Usa la variante Light
    min-height: 100vh;

    //raton
    cursor: url('./../assets/icons/mouse.svg'), auto;
}



/*_________________________________ TEXT _________________________________*/

.text-title{
    font-family: $font-family-detail;
    color: $text-detail-color;
}

.text-title-big{
    font-family: $font-family-detail;
    color: $text-detail-color;
}

//________________________ SECTION AND CONTAINER __________________________
.section {
    padding: 0px 5vw;

}

.container {

    padding-top: 3vh;


    &--small {
        max-width: 60vw;
        /* Ocupa el 60% del ancho del viewport */
    }

    &--medium {
        max-width: 80vw;
        /* Ocupa el 80% */
    }

    &--large {
        max-width: 90vw;
        /* Ocupa casi todo el ancho */
    }

    &--fluid {
        max-width: 100vw;
        /* Ocupa todo el ancho disponible */
    }
}
