<div class="contenedor">
  <div class="centrado">
    <div class="izquierda text-center">
      <h1 class="title title--h1">Observar. <br> Aprender. <br> Crecer.</h1>
    </div>
    <div class="form-contenedor">
      <form (ngSubmit)="handleLoginClick()" [formGroup]="loginForm">
        <h2 class="title title--h2">Iniciar sesión</h2>
        <div class="entradas" style="padding: 10px;">
          <input
            type="email"
            class="input"
            placeholder="Correo de Tajamar"
            name="cajaemail"
            formControlName="email"
          />
          <small *ngIf="formSubmitted && loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
            <span *ngIf="formSubmitted && loginForm.get('email')?.errors?.['required']">El correo electrónico es requerido.<br/></span>
            <span *ngIf="formSubmitted && loginForm.get('email')?.errors?.['email']">Por favor, introduzca un correo electrónico válido.<br/></span>
            <span *ngIf="formSubmitted && loginForm.get('email')?.errors?.['invalidDomain']">El correo debe ser de la organización {{ '(@tajamar365.com)' }}.<br/></span>
          </small>
          <input
            type="password"
            class="input"
            placeholder="Contraseña"
            name="cajapass"
            formControlName="password"
          />
          <small *ngIf="formSubmitted && loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
            La contraseña debe tener al menos 5 caracteres.
          </small>
          
        </div>
        <button (submit)="handleLoginClick()" class="button">Iniciar Sesión</button>
      </form>
      <div class="registro mt-3">
        <p style="padding-top: 20px;" class="text text--disabled">¿No tienes cuenta?</p>
        <a [routerLink]="['/register']">Darse de alta</a>
      </div>
    </div>
  </div>
</div>
