<p>login works!</p>
<!--

I need you to generate a very basic login with two fields, email and password.

You need to use the LoginService to do this.

You need to use the UserService to get the user data.

-->
<div>
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Fase de pruebas, no metas datos sensibles.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
