@import "./../../../styles/variables.scss";

/* Contenedor principal */


.rondas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

/* Tarjeta de ronda */
.ronda-card {
  background-color: #080808;; /* Fondo blanco */
  border: 1px solid #e9e9e9; /* Borde sutil */
  border-radius: 12px; /* Esquinas redondeadas */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Sombra suave */
  width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ronda-card:hover {
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Encabezado de la tarjeta */
.ronda-card-header {
  background-color:  #080808; /* Fondo negro */;
  color: #ffffff; /* Texto blanco */
  padding: 20px;
  text-align: center;
}

.ronda-card-header h3 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 600; /* Texto en negrita */
}

/* Cuerpo de la tarjeta */
.ronda-card-body {
  border-top: 1px solid #e0e0e0; /* Borde superior sutil */

  padding: 20px;
  color: #dbdbdb; /* Texto oscuro */
}

.ronda-card-body p {
  margin: 10px 0;
  font-size: 0.9em;
  line-height: 1.6; /* Espaciado entre líneas */

}

.ronda-card-body strong {
  color: #ffffff; /* Texto en negrita más oscuro */
}

/* Acciones de la tarjeta */
.ronda-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #080808; /* Fondo gris claro */
  border-top: 1px solid #e0e0e0; /* Borde superior sutil */
}

/* Botones */
.btn-editar, .btn-eliminar {
  padding: 10px 20px;
  border: none;
  border-radius: 6px; /* Esquinas redondeadas */
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 500; /* Texto en negrita */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-editar {
  background-color: #f36d00; /* Fondo negro */
  border: 1px solid #e0e0e0; /* Borde sutil */

  color: #ffffff; /* Texto blanco */
}

.btn-editar:hover {
  background-color: #ffa600; /* Fondo gris oscuro al pasar el mouse */
  color:  #080808; /* Texto negro */
}

.btn-eliminar {
  background-color: #f00014; /* Fondo blanco */
  color: #ffffff; /* Texto negro */
  border: 1px solid #e0e0e0; /* Borde sutil */
}

.btn-eliminar:hover {
  background-color: #ff0e42; /* Fondo gris claro al pasar el mouse */
  color: #000000; /* Texto negro */
}

.entradas {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  input {
      margin-bottom: 20px;
      border: none;
      color: $neutral-color-400;
      border-bottom: 1px solid $neutral-color-400;
      padding: 10px 0px;
      background: none;
      box-shadow: none;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      animation: fadeIn 0.6s ease-in-out;

      &::placeholder {
          color: rgba(128, 128, 128, 0.8);
          transition: all 0.3s ease-in-out;
      }

      &:focus {
          outline: none;
          color: white;
          border-bottom: 1px solid white;
          box-shadow: none;
          transform: translateY(-2px);
          transition: all 0.3s ease-in-out;

          &::placeholder {
              opacity: 0.3;
          }
      }

      &:hover {
          color: white;
          border-bottom: 1px solid white;
          box-shadow: none;
          transform: translateY(-2px);
          transition: all 0.3s ease-in-out;

          &::placeholder {
              opacity: 0.5;
          }
      }

      /* Cuando el input tiene texto, el color se mantiene en blanco */
      &:not(:placeholder-shown) {
          color: white;
      }
  }

  textarea{
       
    margin-bottom: 20px;
    border: none;
    color: $neutral-color-400;
    border-bottom: 1px solid $neutral-color-400;
    padding: 10px 0px;
    background: none;
    box-shadow: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.6s ease-in-out;

    &::placeholder {
        color: rgba(128, 128, 128, 0.8);
        transition: all 0.3s ease-in-out;
    }

    &:focus {
        outline: none;
        color: white;
        border-bottom: 1px solid white;
        box-shadow: none;
        transform: translateY(-2px);
        transition: all 0.3s ease-in-out;

        &::placeholder {
            opacity: 0.3;
        }
    }

    &:hover {
        color: white;
        border-bottom: 1px solid white;
        box-shadow: none;
        transform: translateY(-2px);
        transition: all 0.3s ease-in-out;

        &::placeholder {
            opacity: 0.5;
        }
    }

    /* Cuando el input tiene texto, el color se mantiene en blanco */
    &:not(:placeholder-shown) {
        color: white;
    }
}
}

/* Centrar el formulario y reducir su tamaño */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input[type="datetime-local"] {
  color: white; // Color del texto
  background-color: transparent; // Fondo transparente
  border: none;
  border-bottom: 1px solid $neutral-color-400;
  padding: 8px 0;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  
  &::placeholder {
      color: rgba(128, 128, 128, 0.8);
  }

  &:focus, &:hover {
      outline: none;
      border-bottom: 1px solid white;
      transform: translateY(-2px);
      transition: all 0.3s ease-in-out;
  }

  // Cambiar color del ícono del calendario en navegadores Webkit (Chrome, Edge, Safari)
  &::-webkit-calendar-picker-indicator {
      filter: invert(1); // Invierte los colores (hace que el ícono sea blanco)
      opacity: 0.8;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  }

  // Ajustar color en Firefox
  &::-moz-calendar-picker-indicator {
      filter: invert(1);
  }

  &:hover::-webkit-calendar-picker-indicator {
      opacity: 1;
  }
}

.button {
  background-color: $primary-color-700;
  color: white;
  border: none; // Elimina cualquier borde predeterminado
  outline: none; // Evita el borde al hacer focus en algunos navegadores
  border-radius: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 1s ease-in-out;
  box-shadow: none; // Elimina sombras raras

  &:hover {
      background-color: lighten($primary-color-600, 10%);
  }

  &:focus {
      outline: none;
      box-shadow: none;
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedor de cada campo */
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* Labels */
.form-group label {
  font-size: 14px;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
}

/* Inputs y Textarea */
input, textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid $neutral-color-400;
  background: none;
  font-size: 14px;
  color: white;
  transition: all 0.3s ease-in-out;

  &::placeholder {
      color: rgba(128, 128, 128, 0.8);
  }

  &:focus, &:hover {
      outline: none;
      border-bottom: 1px solid white;
      transform: translateY(-2px);
  }
}

/* Ajuste para Textarea */
textarea {
  resize: none;
  height: 80px;
}