<p>Panel de Control - Profesores</p>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Curso</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let profesor of profesores">
            <td>{{ profesor.idUsuario }}</td>
            <td>{{ profesor.usuario }}</td>
            <td>{{ profesor.email }}</td>
            <td>{{ profesor.estadoUsuario }}</td>
            <td>{{ profesor.curso }}</td>
            <td>{{ profesor.fechaInicioCurso }}</td>
            <td>{{ profesor.fechaFinCurso }}</td>
        </tr>
    </tbody>
</table>