.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(12, 12, 12);
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 500px;
  min-height: 500px;
  max-height: 700px;
  z-index: 1000;
}

.close-button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  font-size: 20px;
}

small {
  color: #ea3b6f;
  font-size: 11px;
  text-align: center;
}
